<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<http:listener-config name="scm-mvp-deliveryschedule-exp-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="scm-mvp-deliveryschedule-exp-api-config" api="scm-mvp-deliveryschedule-exp-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<api-gateway:autodiscovery apiId="${anypoint.api.id}" doc:name="API Autodiscovery" doc:id="bbad09cd-9812-4a56-b013-20e0366f32b7" flowRef="scm-mvp-deliveryschedule-exp-api-main" />
	<configuration-properties doc:name="Application Config File" doc:id="04ac43f4-969e-4abf-85f0-982e83d1fd1f" file="base-api-config.yaml" />
	<configuration-properties doc:name="Environment Config File" doc:id="699c7932-5982-4651-901e-fc1542744797" file="config/${mule.env}-env-config.yaml" />
	<global-property doc:name="Global Property" doc:id="eedaef70-489a-4329-a97d-89edb94d343b" name="mule.env" value="local" />
	
</mule>
